.app {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100vh;
    padding: 0 30px;
    gap: 30px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    border-radius: 20px;
    height: min(90vh, 90vw);
    width: 300px;
    flex-direction: column;
}
